<form action="/artist-search", method="GET">
<section class="indexSection">
  <label>
    Artist
    <input type="text" name="artist">
  </label>
  
  
  <button type="submit">SEARCH</button>
</form>
</section>
